<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobeQuest</title>
    <div class="container">
  <!-- Leaderboard -->
    <aside class="leaderboard">
        <h2>Leaderboard</h2>
        <ul id="leaderboard-list"></ul>
    </aside>

    <!-- Game content -->
    <!-- <main class="game-area">
        <h1>Game in Progress</h1>
        <div id="game-content"></div>
    </main> -->
</div>

    <link rel="stylesheet" href="/css/play.css">
</head>
<body>
  <div id="playersContainer"></div>
  <script type="module" src="/js/play.js"></script>
</body>
</html>