<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobeQuest</title>
    <div class="container">
  <!-- Leaderboard -->
    <aside class="leaderboard">
        <h2>Leaderboard</h2>
        <ul id="leaderboard-list"></ul>
    </aside>

        <div class="max-w-4xl w-full p-6 bg-white rounded-2xl shadow-xl flex flex-col items-center text-center">
    

        <!-- Image container -->
        <div class="image-container mb-6">
            <!-- The image. Replace the src with your own image URL. -->
            <img id="clickableImage" src="/img/mapForGame.png" alt="Interactive image" class="w-full h-auto cursor-pointer select-none">
            <img id="Delhi" class="marker" src="/img/marker.png" alt="Marker">
            <img id="San-Francisco" class="marker" src="/img/marker.png" alt="Marker">
            <img id="Paris" class="marker" src="/img/marker.png" alt="Marker">
            <img id="Cape-town" class="marker" src="/img/marker.png" alt="Marker">
            <img id="Toronto" class="marker" src="/img/marker.png" alt="Marker">

        </div>
        <div class="navbar">
            <div class="user-photo">
                <img src="/img/dp.png" alt="User Photo">
            </div>
            <div id="user-gold" class="gold-value">
                Gold: 0
            </div>
            <div class="places-visited">
                Places visited: 1
            </div>
            <div class="city-photo">
                <img class="city-photo-img" src="/img/San-Francisco.png" alt="City Photo">
            </div>
            <br><br><br>
            <div id="current-city" class="cityy">Current City: Loading...</div>
            <button class="goto" type="button">Take Flight</button>
            <div id="flight-cost" class="flight-cost">Cost: Loading...</div>

            <!-- <button id="ship" class="goto" type="button">Take Ship</button> -->


        </div>

        
    </div>
</div>

    <link rel="stylesheet" href="/css/play.css">
</head>
<body>
  <div id="playersContainer"></div>
  <script type="module" src="/js/play.js"></script>
</body>
</html>