<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobeQuest</title>
    <div class="container">
  <!-- Leaderboard -->
    <aside class="leaderboard">
        <h2>Leaderboard</h2>
        <ul id="leaderboard-list"></ul>
    </aside>

        <div class="max-w-4xl w-full p-6 bg-white rounded-2xl shadow-xl flex flex-col items-center text-center">
    

        <!-- Image container -->
        <div class="image-container mb-6">
            <!-- The image. Replace the src with your own image URL. -->
            <img id="clickableImage" src="/img/mapForGame.png" alt="Interactive image" class="w-full h-auto cursor-pointer select-none">
            <img id="delhi" class="marker" src="/img/marker.png" alt="Marker">
            <img id="san" class="marker" src="/img/marker.png" alt="Marker">
            <img id="paris" class="marker" src="/img/marker.png" alt="Marker">
            <img id="cape" class="marker" src="/img/marker.png" alt="Marker">
            <img id="toro" class="marker" src="/img/marker.png" alt="Marker">


        </div>

        
    </div>
</div>

    <link rel="stylesheet" href="/css/play.css">
</head>
<body>
  <div id="playersContainer"></div>
  <script type="module" src="/js/play.js"></script>
</body>
</html>